.form-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;

    .username,
    .password {
      height: 25%;
    }

    .submit-btn {
      height: 20%;
      width: 100%;
    }

    .error-message {
      color: red;
      font-weight: 700;
    }
  }
}
